# Docker Isolation (Change this for each project)
COMPOSE_PROJECT_NAME=reddot_master

# Project Settings
PROJECT_NAME=RedDot_Master

# Ports (Change these if running multiple projects)
FRONTEND_PORT=9002
BACKEND_PORT=8090

# URLs (Defaults for local development)
NEXT_PUBLIC_POCKETBASE_URL=http://localhost:${BACKEND_PORT}
POCKETBASE_INTERNAL_URL=http://pb_backend:8080

# RDP Settings (Get these from Red Dot Payment Dashboard)
RDP_MID=your_merchant_id_here
RDP_SECRET_KEY=your_secret_key_here
